@tailwind base;
@tailwind components;
@tailwind utilities;

/* 
might change above tailwind imports to different file
as of now this should be global???
*/

.circle {
  position: relative;
  width: 40vh;
  padding: 10px;

  height: 40vh;
  border-radius: 500px;
  background-size: cover;
  background-position: center;
  box-shadow: 0px 18px 53px 0px rgba(0, 0, 0, 0.3);
}

.semicircle-top {
  position: relative;
  width: 40vh;
  padding: 10px;

  height: 20vh;
  border-top-left-radius: 50% 100%;
  border-top-right-radius: 50% 100%;
  background-size: cover;
  background-position: center;
  box-shadow: 0px 18px 53px 0px rgba(0, 0, 0, 0.3);
}
.semicircle-bottom {
  position: relative;
  width: 40vh;
  padding: 10px;

  height: 20vh;
  border-bottom-left-radius: 50% 100%;
  border-bottom-right-radius: 50% 100%;
  background-size: cover;
  background-position: center;
  box-shadow: 0px 18px 53px 0px rgba(0, 0, 0, 0.3);
}
.semicircle-left {
  position: relative;
  width: 40vh;
  padding: 10px;

  height: 20vh;
  border-top-left-radius: 50% 100%;
  border-bottom-left-radius: 50% 100%;
  background-size: cover;
  background-position: center;
  box-shadow: 0px 18px 53px 0px rgba(0, 0, 0, 0.3);
}
.semicircle-right {
  position: relative;
  width: 40vh;
  padding: 10px;

  height: 20vh;
  border-top-right-radius: 50% 100%;
  border-bottom-right-radius: 50% 100%;
  background-size: cover;
  background-position: center;
  box-shadow: 0px 18px 53px 0px rgba(0, 0, 0, 0.3);
}

.card {
  display: grid;
  grid-template-columns: 300px;
  grid-template-rows: 210px 250px 20px;
  grid-template-areas: "image" "text" "stats";
  border-radius: 18px;
  background: #1d1d1d;
  color: white;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.9);
  font-family: roboto;
  text-align: justify;
  cursor: pointer;
  margin: 30px;
  transform-style: preserve-3d;
  transform: perspective(1000px);
}
.rgb::after {
  content: "";
  background: linear-gradient(
      45deg,
      #ff0000 0%,
      #ff9a00 10%,
      #d0de21 20%,
      #4fdc4a 30%,
      #3fdad8 40%,
      #2fc9e2 50%,
      #1c7fee 60%,
      #5f15f2 70%,
      #ba0cf8 80%,
      #fb07d9 90%,
      #ff0000 100%
    )
    repeat 0% 0% / 300% 100%;
  position: absolute;
  inset: -3px;
  border-radius: 16px;
  filter: blur(8px);
  transform: translateZ(-1px); /*or z-index */
  animation: rgb 6s linear infinite;
}
@keyframes rgb {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.js-tilt-glare {
  border-radius: 18px;
}

:root {
  --dark-color: #635bff;
  --light-color: #80e9ff;
}

svg {
  cursor: pointer;
}

#darkGroup {
  fill: var(--dark-color);
}
#lightGroup {
  fill: var(--light-color);
}
#dark1,
#light1,
#dark2 {
  transition: all 1s ease;
}
#dark2 {
  transform: translateX(-100%);
  opacity: 0;
}
svg:hover #light1 {
  transform: translateX(20%);
}
svg:hover #dark1 {
  transform: translateX(40%);
  opacity: 0;
}
svg:hover #dark2 {
  transform: translateX(0%);
  opacity: 0.75;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
    Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.container {
  padding: 0 2rem;
}

.main {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.title a {
  color: #0070f3;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
}

.title,
.description {
  text-align: center;
}

.description {
  margin: 4rem 0;
  line-height: 1.5;
  font-size: 1.5rem;
}

.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New,
    monospace;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
}

.card {
  margin: 1rem;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  max-width: 300px;
}

.card:hover,
.card:focus,
.card:active {
  color: #0070f3;
  border-color: #0070f3;
}

.card h2 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

.logo {
  height: 1em;
  margin-left: 0.5rem;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
